<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SQL_TablasAS400" connectionString="Initial Catalog=Belcorp Precio Catalogo; Server=PELT0113401; User Id=Procesamiento; Password=P@ssw0rd;"
      providerName="System.Data.SqlClient" />
    <add name="SQL_BD_BIP" connectionString="Database=BIP; Server=PELT0113401; User Id=Procesamiento; Password=P@ssw0rd;"
      providerName="System.Data.SqlClient" />
    <add name="ZOHO" connectionString="Database=ZOHO; Server=PELT0113401; User Id=Procesamiento; Password=P@ssw0rd;" 
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!-- <add name="ZOHO" connectionString="Database=ZOHO; Server=(local); User Id=Procesamiento; Password=P@ssw0rd;" -->
