<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="SQL_TablasAS400" connectionString="Initial Catalog=Belcorp Precio Catalogo; Server=PEDT0113142; INTEGRATED SECURITY=SSPI;"
      providerName="System.Data.SqlClient" />
    <add name="SQL_BD_BIP_1" connectionString="Database=BIP; Server=(local); User Id=Procesamiento; Password=P@ssw0rd;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>